*{
    font-family: "Raleway", sans-serif;
    background-color: #2f4a64 ;
}
.styleNavBar{
     color: aqua;
}
.bsBag{
    background-color:#ffc107 ;
}
.titulosPrincipales{
    display: flex;
    flex-direction: column;
    text-align: center;
    color: black;
}
.bannerCentral{
    width: 100%;
}